
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');



*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: springgreen;
   height: 100vh;
}
div{
   margin: 50px;
   padding: 100px;
}
button{
width: 200px;
height: 50px;
   padding: 10px;
   margin: 20px 0 0 0;
   background-color: aqua;
   cursor: pointer;
   opacity: 0.7;
   font-size: large;
   transition: 0.5;
 
}
button:hover{
   opacity: 1s;
   color: red;
}



.mydiv{
  background-color: cadetblue;
  width: 100px;
  height: 50px;
  border: 1px solid ;

   }